@charset "utf-8";
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.7 Helvetica,arial,sans-serif}
input,select,textarea{font-size:100%}
input,select,label{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a{text-decoration:none}
a:hover{text-decoration:underline}
.clrfix:before,.clrfix:after{content:"";display:table}
.clrfix:after{clear:both}
.clrfix{zoom:1}
.fl,.fr{display:inline}
.fl{float:left}
.fr{float:right}
a:focus,input:focus{outline:0}
a{blr:expression(this.onFocus=this.close())}
a{blr:expression(this.onFocus=this.blur())}
.hide{display:none;}
.show{display:inline-block;}
/*reset end*/
html,body{
    height:100%;
}
.btn{
    display:inline-block;
    vertical-align: middle;
    width:72px;
    height:48px;
    line-height:48px;
    color:#fff;
    text-align:center;
    border:none;
    border-radius:3px;
    background-color:#DE601B;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    margin: 0 10px;
}
.view-wrap{
    width:100%;
    height:100%;
    background:url(../img/bg1.jpg) no-repeat 0 0;
    overflow:hidden;
}
.view-wrap .clrfix{
    width:300%;
}
.view-wrap .fl{
    width: 320px;
    height:300px;
}
.fix-group{
    position:;
}
.login-btns{
    padding-top: 10px;
}
.login-btns .btn{
    display:block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius:0;
    /* box-shadow:none; */
    margin: 0 auto 5px;
    /* margin-bottom: 5px; */
}
.login-btns .login-btn{
    border: 3px solid #de601b;
    background: rgba(255,255,255,0.4);
    color: #de610b;
    height: 34px;
    line-height: 34px;
    width: 294px;
    font-weight: bold;
    font-size: 18px;
    word-spacing: 10px;
    border-radius: 3px;
}
